<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>BCBE5897-950D-4947-8109-F7C0E2AE22D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3752CC0-DFD2-413D-9B0D-AAB04D13986C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luming.lv</string>
	<key>description</key>
	<string>kill_progress_by_keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>kill_progress_by_keyword</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kill</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>sh find.sh {query}</string>
				<key>title</key>
				<string>kill process by keyword</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCBE5897-950D-4947-8109-F7C0E2AE22D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd "/Users/luminglv/Library/Application Support/Alfred 2/Alfred.alfredpreferences/workflows/user.workflow.0E2C2A13-2DCB-412C-8035-5E79001E5ADF"

sh kill.sh "{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C3752CC0-DFD2-413D-9B0D-AAB04D13986C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>BCBE5897-950D-4947-8109-F7C0E2AE22D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C3752CC0-DFD2-413D-9B0D-AAB04D13986C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
